.comments-list {
  display: flex;

  padding: 15px;
  margin-top: 16px;
  &__header {
    background-color: #f3f6f8;
    width: 100%;
    border-radius: 3rem;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem;
    &__top {
      padding: 2px 1.5rem;
      display: flex;
      justify-content: space-between;
      &__right {
        color: $secondary-color;
      }
    }
    &__bottom {
      padding: 2px 1.5rem 20px;
    }
  }
}
