.profile {
  margin: 5rem 0rem;
  // margin: 5rem 27rem 27rem;
  // padding-bottom: 10rem;
  // padding-bottom: 3rem;
  // border: 3px $Borders solid;
  // height: 100rem;
  // border-radius: 0.4rem;
  // position: absolute;
  &--details {
    border: 3px $Borders solid;
    &--background {
      border-bottom: 1.5px $Borders solid;
      // height: 25rem;
      height: 14rem;
      position: relative;
      // background-image: url("../../Assets/Background_Photo.jpg");
      // background-size: cover;
      &--img {
        background-size: cover;
        width: 100%;
        // height: 25rem;
        height: 14rem;
      }
    }
    &--photo {
      margin-left: 5rem;
      //  margin-top: 20rem;
      border: 1px black solid;
      border-radius: 50%;
      width: 10rem;
      height: 10rem;
      // padding: 0.2rem;
      border: 3px solid $Borders;
      // position: absolute;
      position: absolute;
      // top: 25rem;
      top: 18rem;
      &--img {
        border-radius: 50%;
        width: 100%;
        height: 100%;
      }
    }
    &--InfoContainer {
      display: flex;
      justify-content: space-between;
      &--info {
        &--name {
          font-size: 1.5rem;
          // font-size: 3rem;
          display: inline-block;
          // margin-top: 13rem;
          // margin-left: 7rem;
          margin-top: 7rem;
          margin-left: 3rem;
        }
        &--jobTitle {
          font-size: 1.5rem;
          font-weight: lighter;
          display: block;
          // margin-top: 2rem;
          // margin-left: 8rem;
          margin-top: 0.5rem;
          margin-left: 3rem;
        }
        &--location {
          font-size: 1rem;
          font-weight: lighter;
          display: inline-block;
          margin-top: 0.5rem;
          margin-left: 3rem;
          // margin-top: 1.5rem;
          // margin-left: 8rem;
        }
        &--connection,
        &--contact {
          display: inline-block;
          margin-top: 0.5rem;
          margin-left: 0.5rem;
          font-weight: lighter;
          font-size: 1rem;
          color: $dark-blue;
        }
        a {
          &:hover {
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }
      &--moreBtns {
        margin-top: 10px;
        // margin: 5rem 5rem 0 0;
        &--edu {
          // display: flex;
          // justify-content: space-between;
          // margin: 2rem;
          //   width: 20rem;
          margin-bottom: 26px;
          margin-top: 28px;
          display: block;
          &--icon {
            img {
              width: 10%;
              height: 10%;
              //display: inline-block;
            }
          }
          &--link {
            font-weight: 100;
            text-align: center;
            font-size: 1rem;
            &:hover {
              text-decoration: underline;
              color: $dark-blue;
              cursor: pointer;
            }
          }
        }
        &--crud {
          margin-left: 1rem;
        }
      }
    }
  }
}
