$nav-background: #283e4a;
$text-color: #0073b1;
$nav-color: #f4eeff;
$hover-color: #b0afb4;

$card-width: 100%;
$card-height: 30rem;
$font-size-small: 1.2rem;
$font-size-medium: 1.6rem;
$font-size-large: 2.4rem;
$Borders: rgb(219, 219, 219);
//$Borders: #918f99;
$primary-color: #0073b1;
$secondary-color: #707070;
$dark-blue: #006097;
