.m-2x {
  margin: 0.5rem;
}
.m-3x {
  margin: 1.5rem;
}
.bold {
  font-weight: 600;
}
.lighter {
  font-weight: lighter;
}
.p-lg {
  padding: 1rem;
}
.p-xsm {
  padding: 0.5rem 0.5rem;
}
.p-sm {
  padding: 0.2rem 0.5rem;
}
.p-xlg {
  padding: 1.7rem;
}
.p-xxlg {
  font-size: 1.4rem;
  line-height: 1.5;
  font-weight: 600;
  padding: 0.2rem 1.5rem;
}
.p-md {
  padding: 1.2rem 0.5rem;
}
.m-l {
  margin-left: 3.5rem;
}
.m-b {
  margin-bottom: 1.5rem;
}
.p-lr {
  padding: 0 1rem;
}
.p-xxxlg {
  padding: 2.8rem;
}
.f-r {
  float: right;
}
.m-t {
  margin-top: 0.8rem;
}
.f-l {
  font-size: larger;
}
.f-xl {
  font-size: large;
}
.m-b {
  margin-bottom: 8rem;
}
.m-sb {
  margin-bottom: 5rem;
}
.color {
  color: $primary-color;
}
